<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.SQLite" version="5.12.1437" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net471" />
</packages>